<style>
    .footer {
        background-color: #333333;
        color: white;
        text-align: center;
        padding: 20px 0;
        position: relative;
        bottom: 0;
        width: 100%;
    }
    .footer a {
        color: #f1f1f1;
        text-decoration: none;
        margin: 0 10px;
    }
    .footer a:hover {
        text-decoration: underline;
    }
</style>
<div class="footer">
    <p>&copy; 2023 Museum Of Asian Art. All rights reserved.</p>
    <p>
        <a href="../index.html" target="_parent">Home</a> |
        <a href="../about.html" target="_parent">About</a> |
        <a href="../process.html" target="_parent">Process</a> |
        <a href="../blog.html" target="_parent">Blog</a> |
        <a href="../gallery.html" target="_parent">Gallery</a> |
        <a href="../contact.html" target="_parent">Contact</a>
    </p>
</div>